.Weather-day {
    padding-top: 2%;
}

.day-title {
    font-size: 1.8vw;
    font-style: italic;
    /* background-color: green; */
    padding-bottom: 1%;
}

.day-row {
    /* background-color: khaki; */
    display: flex;
    flex-direction: row;
}

.day-row-item {
    flex-basis: 100%;
}

.day-row-item-title {
    font-size: 1.8vw;
}

.day-row-item-data {
    font-size: 2vw;
}