.weather-week {
    padding-top: 2%;
}

.week-title {
    font-size: 1.8vw;
    font-style: italic;
    padding-bottom: 1%;
    /* background-color: green; */
}

.week-row {
    /* background-color: khaki; */
    display: flex;
    flex-direction: row;
}

.week-row-item {
    flex-basis: 100%;
}

.week-row-item-title {
    font-size: 1.8vw;
}

.week-row-item-data {
    font-size: 2vw;
}
